WcfAnimalServiceClient2/Service References/IISHostServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51979/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAnimalServiceLibrary" />
  <xs:element name="GreetAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAnimalServiceLibrary" minOccurs="0" name="animal" nillable="true" type="q1:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreetAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GreetAnimalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfAnimalServiceLibrary" minOccurs="0" name="animal" nillable="true" type="q2:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAnimalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnimals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnimalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfAnimalServiceLibrary" minOccurs="0" name="getAnimalsResult" nillable="true" type="q3:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnimalInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>